/* branding.css */
#become-a-tester {
    margin-top: var(--device-corner-radius);
}
#device-outline {
    position: fixed; /* Locks it to the viewport */
    inset: var(
        --padding
    ); /* Applies top, right, bottom, left at exactly --padding */

    border: 1px solid var(--highlight-color); /* The 1px outline */

    /* The magic math for concentric nested corners */
    border-radius: max(0px, calc(var(--device-corner-radius) - var(--padding)));

    pointer-events: none; /* Prevents the outline from blocking clicks to the nav/links */
    z-index: 9999; /* Keeps it on top of everything */
}

#logo {
    max-height: 90vh;
    max-width: 90vw;
}

#branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#nav {
    position: absolute;
    bottom: 0;
    padding: var(--device-corner-radius);
}

#nav > * {
    padding-left: var(--padding);
    padding-right: var(--padding);
}
/* portrait */
@media (max-aspect-ratio: 1/1) {
    body {
        font-size: 1.5em;
    }
}

/* landscape */
@media (min-aspect-ratio: 1/1) {
}
