/* branding.css */
#logo {
    max-height: 90vh;
    max-width: 90vw;
}
#studio {
    text-decoration: none;
    color: black;
}
#branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#nav {
    position: absolute;
    bottom: 0;
    padding: var(--device-corner-radius);
}

#nav > * {
    padding-left: var(--padding);
    padding-right: var(--padding);
}
/* portrait */
@media (max-aspect-ratio: 1/1) {
    body {
        font-size: 1.5em;
    }
}

/* landscape */
@media (min-aspect-ratio: 1/1) {
}
